/* @import "@angular/material/prebuilt-themes/indigo-pink.css"; */

mat-dialog-content {
  font-size: 16px;
  margin-bottom: 20px;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

  button.link-button {
  display: block;
  padding: 20px;
  background-color: #d32f2f;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
  transition: background-color 0.3s;
  width: 100%;
  text-align: center;
  margin-left: 2px;
  margin-right: 8px;
}

button.link-button:hover {
  background-color: #b71c1c;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
  